%html
  %head
    %script{'src':'http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'}
    %script{'src':'canvasclocks.js'}
    :css
      table {
        margin: 80px 8px;
        width:100%;
      }

      td {
        padding:0 5px 65px;
      }
  %body
    %table
